# Arquivos de Sistema e Ambientes Virtuais
venv/
*.DS_Store
.vscode/

# Arquivos de Dados e Configurações Sensíveis
# CRUCIAL: NÃO ENVIAR O BANCO DE DADOS E CHAVES DA API
*.env
*.db
*.sqlite
todo_market.db
historico_v*.db
__pycache__/

#Codigos gerados pelo Builder
/codigo_gerado
.codigo_gerado/
codigo_gerado/

#backups
/backup
.backup/
backup/

#testes
/tests
.tests/
tests/

__pycache__/
*.pyc
.env
venv/
.vscode/
# Ignorar dados do Banco Local
postgres_data_local/
postgres_data/
familyos/data/