services:
  db:
    image: postgres:15-alpine
    container_name: familyos_db_local
    restart: always
    environment:
      - POSTGRES_USER=family_user
      - POSTGRES_PASSWORD=family_pass_segura
      - POSTGRES_DB=familyos_db
      - TZ=America/Sao_Paulo
    ports:
      - "5432:5432"  # Abre a porta 5432 do container para o seu Windows (localhost)
    volumes:
      - ./postgres_data_local:/var/lib/postgresql/data # Salva os dados numa pasta no seu Windows
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U family_user -d familyos_db"]
      interval: 10s
      timeout: 5s
      retries: 5

# Rede simples para comunicação local
networks:
  default:
    driver: bridge